.calculadora {
  align-items: center;
  border: solid 0.125rem $color-gray-400;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 1rem rgba($color-gray-400, 0.12);
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0.25rem 1rem rgba($color-gray-400, 0.24);
    transform: scale(1.1);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 3.5rem;

    @include respond(widescreen) {
      padding: 3.5rem 4rem;
      gap: 2.5rem;
    }

    @include respond(tab-land) {
      padding: 2.5rem 3rem;
      gap: 1.5rem;
    }

    @include respond(phone) {
      padding: 2rem;
      gap: 1.5rem;
    }

    &__digits {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;

      @include respond(phone) {
        gap: 0.75rem;
      }

      :nth-child(3) {
        grid-column: 3 / 5;
        grid-row: 1;
      }
    }
  }
}
