@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #050505;
  color: #eeeeee;
}

.button {
  appearance: none;
  border: solid 0.0625rem transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 1rem 2rem;
  transition: all 0.2s ease-in-out;
}
@media only screen and (min-width: 1920px) {
  .button {
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 1.5rem 2.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .button {
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }
}
@media only screen and (max-width: 480px) {
  .button {
    padding: 0.75rem 1.5rem;
  }
}
.button--primary, .button--secondary {
  background-color: transparent;
  border-color: #bdbdbd;
}
.button--primary:hover, .button--secondary:hover {
  box-shadow: 0 0.25rem 1rem rgba(224, 224, 224, 0.12);
}
.button--primary, .button--tertiary {
  color: #e0e0e0;
}
.button--primary:hover {
  background-color: #424242;
}
.button--secondary {
  color: #cf7104;
}
.button--secondary:hover {
  background-color: #cf7104;
  border-color: #cf7104;
  color: #e0e0e0;
}
.button--tertiary {
  background-color: #cf7104;
}
.button--tertiary:hover {
  background-color: #e0e0e0;
  color: #cf7104;
}

.calculadora {
  align-items: center;
  border: solid 0.125rem #bdbdbd;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 1rem rgba(189, 189, 189, 0.12);
  transition: all 0.3s ease-in-out;
}
.calculadora:hover {
  box-shadow: 0 0.25rem 1rem rgba(189, 189, 189, 0.24);
  transform: scale(1.1);
}
.calculadora__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 3.5rem;
}
@media only screen and (min-width: 1920px) {
  .calculadora__content {
    padding: 3.5rem 4rem;
    gap: 2.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .calculadora__content {
    padding: 2.5rem 3rem;
    gap: 1.5rem;
  }
}
@media only screen and (max-width: 480px) {
  .calculadora__content {
    padding: 2rem;
    gap: 1.5rem;
  }
}
.calculadora__content__digits {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}
@media only screen and (max-width: 480px) {
  .calculadora__content__digits {
    gap: 0.75rem;
  }
}
.calculadora__content__digits :nth-child(3) {
  grid-column: 3/5;
  grid-row: 1;
}

.input {
  background: transparent;
  border: 0.0625rem solid #bdbdbd;
  border-radius: 0.25rem;
  color: #e0e0e0;
  font-size: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: right;
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 1920px) {
  .input {
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 1.25rem 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .input {
    font-size: 1rem;
    padding: 0.75rem 1rem;
  }
}
.input::placeholder {
  color: #e0e0e0;
}
.input:hover {
  border-color: #e0e0e0;
  box-shadow: 0 0.25rem 1rem rgba(224, 224, 224, 0.24);
}

.footer {
  align-items: center;
  border-top: 0.0625rem solid #eeeeee;
  display: flex;
  justify-content: center;
}
.footer__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  padding: 2rem;
}
.footer__socials {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
@media only screen and (min-width: 1920px) {
  .footer__socials {
    gap: 6rem;
  }
}
@media only screen and (max-width: 768px) {
  .footer__socials {
    gap: 3rem;
  }
}
.footer__socials li {
  list-style: none;
}
.footer__icon {
  border-radius: 50%;
  border: 0.125rem solid #eeeeee;
  color: #eeeeee;
  font-size: 2rem;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 768px) {
  .footer__icon {
    font-size: 1.5rem;
  }
}
.footer__icon:hover {
  background-color: #eeeeee;
  color: #050505;
  transform: scale(1.2);
}
.footer__copyright {
  color: #e0e0e0;
  font-size: 1rem;
  font-weight: 400;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.footer__copyright:hover strong {
  text-shadow: 0 0 0.25rem rgba(238, 238, 238, 0.64);
}
.footer__copyright > strong {
  color: #eeeeee;
  transition: all 0.3s ease-in-out;
}

.section {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}
